@import 'vars.scss';


#container {
    /* text-align:center; */
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0;
    // width:100vw;
    margin:auto;
    // padding:0 calc((100vw - $colWidth * 4)/2);
    // position:fixed;
}

img {
    max-width:100%;
    filter: brightness(150%) grayscale(100%);

    transition:filter 0.2s;

    &#react-modal-image-img,
    &:hover {
filter: brightness(100%) grayscale(0%);
    }

}


.column {
    
    width:25vw;
    
    height:100vh;
    overflow-y:scroll;
    overflow-x:hidden;
    overscroll-behavior: contain;

    & .column_header {
        height:10rem;
        padding:0.5em;
    }

    & .column_interior {
        // padding-bottom:2em;
    }
    

}

header.mobile {
    & h1, 
    & h2, 
    & h4 {
        text-align: center;
        padding:1rem 0 0 0;
        margin:0;
    }

    h4 {
        color:$accent;
    }
}


#footer {
    background:$fColor;
    padding:2rem;

}


@media (min-width:800px) {
    header.mobile {
        display:none;
    }

}

@media (max-width:800px) {
    #container {    
        display:block;    
    }

      .column {    
        width:100%;
        height:auto;

        & .column_header {
            display:none;
        }
    }

    // .section {
    //     height:3rem;
    //     overflow:hidden;
        
    // }

}