@import 'vars.scss';

@font-face {
    font-family: "AAHA";
    src: url(fonts/AAHA-Regular.woff2) format(woff2);
}
html, body {
    font-size:18px;
    font-family: "freight-text-pro", serif;
}

a:link,
a:visited {
    color:$fColor;
    text-decoration: underline;
    

    &:hover {
        text-decoration: none;    
        color:$accent;
    }
}

h1 {
    font-family: 'AAHA';
    font-size:2.2rem;
    line-height:2rem;
    white-space: nowrap;
    text-align: right;
    position:relative;
    font-weight:normal;
    // margin:1rem;

}
h2 {
        // color:$bgColor
        font-weight:normal;
        text-align:left;
        font-size:2rem;
        line-height:2rem;
        margin-top:0.6em;

        & .date_title {
            padding:0;
            margin:0;
            display:inline-block;
            font-size:0.9rem;
            color:$accent;
            line-height:1.2;
            height:1em;
            overflow:visible;
            font-weight:bold;
        }
    

    
    & h3 {
        padding:0;
        margin:0;
    }
}

h3 {
    background:$bgColor;

    &.sticky {
    position:sticky;
    z-index:10;
    top:0;
}

}

 h3, h4, h5 {
    
    text-align:center;
    
}

h1, h3, h5 {
    color:$accent;
}

   ol li, ul li {
        margin-left:1.5em;
    }
    
    

ul  {
    padding:0;

    &.studios li {
        margin-left:-0.5rem;
    }

& li {
    
    list-style-type:circle;
}
}


ol {
    padding:0;
    & li::marker {
    font-weight:bold;
}
}

li {
    margin-bottom:0.5em;
    &::marker {
        color: $accent;
    }
}
 

a.tool_tip {
    color:inherit;
    text-decoration: underline;
}

#tool_tip {
    max-width:300px;
    padding:0.5em 0.5em 0.5em 1em;
    border-top-left-radius:1em;
    border-top-right-radius:1em;
    border-bottom-right-radius:1em;
    border:1px solid $accent;
    font-size:0.75em;
    background:$fColor;
    color:$bgColor;
    position:fixed;
    z-index:9999;
    // display:none;
    opacity:0;
    top:-300px;
    left:-300px;


    transform:translateY(calc(-100% - 1rem));
    transition:opacity 0.2s, top 0.2s, left 0.2s;

    &.active {
        // display:block;
        opacity:1;
    }
}

.studio {
    
    // border-bottom:1px solid $accent;
        transition: padding 0.5s ease-in;
    

    & .studio_body {
            transition: max-height 0.5s ease-in;
            // padding-bottom:1rem;
            max-height:0px;
            overflow:hidden;


            & p {
                margin-top:0.5rem;
            }
    }

    &.open {
        padding-top:1rem;
        max-height:60rem;

        & .triangle {
            transform: rotate(90deg);
        }

     & .studio_body {
            max-height:50rem;
    }

      
    }

     & .studio_header {
        cursor:pointer;
     }


 
    & h4, & h5, & h6 {
        text-align:left;
        padding:0 0 0 1.5rem;
        margin:0;
        
    }

    & h4 {
        text-indent:-0.75rem;

        & .triangle {
            display: inline-block;
            color: $accent;
            width: 0.5rem;
            font-size: 1.25rem;
            transform-origin: -7px 15px;
            transition: transform 0.25s;

          
        }
    }

    & h5 {
        text-transform:uppercase;
        letter-spacing: 0.04em;
    }

    & h6 {
        font-size:1rem;
        font-weight:normal;

        & label {
            text-transform:uppercase;
            letter-spacing: 0.04em;
            color:$accent;
            font-weight:bold;
            font-size:0.75em;
        
        }
    }
}



