@font-face {
  font-family: "AAHA";
  src: url(fonts/AAHA-Regular.woff2) format(woff2);
}
html, body {
  font-size: 18px;
  font-family: "freight-text-pro", serif;
}

a:link,
a:visited {
  color: #383131;
  text-decoration: underline;
}
a:link:hover,
a:visited:hover {
  text-decoration: none;
  color: #c48726;
}

h1 {
  font-family: "AAHA";
  font-size: 2.2rem;
  line-height: 2rem;
  white-space: nowrap;
  text-align: right;
  position: relative;
  font-weight: normal;
}

h2 {
  font-weight: normal;
  text-align: left;
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 0.6em;
}
h2 h6 {
  padding: 0;
  margin: 0;
  display: inline-block;
  font-size: 0.9rem;
  color: #c48726;
  line-height: 1.2;
  height: 1em;
  overflow: visible;
}
h2 h3 {
  padding: 0;
  margin: 0;
}

h3 {
  background: #FFFFFF;
}
h3.sticky {
  position: sticky;
  z-index: 10;
  top: 0;
}

h3, h4, h5 {
  text-align: center;
}

h1, h3, h5 {
  color: #c48726;
}

ol li, ul li {
  margin-left: 1.5em;
}

ul {
  padding: 0;
}
ul.studios li {
  margin-left: -0.5rem;
}
ul li {
  list-style-type: circle;
}

ol {
  padding: 0;
}
ol li::marker {
  font-weight: bold;
}

li {
  margin-bottom: 0.5em;
}
li::marker {
  color: #c48726;
}

a.tool_tip {
  color: inherit;
  text-decoration: underline;
}

#tool_tip {
  max-width: 300px;
  padding: 0.5em 0.5em 0.5em 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 1px solid #c48726;
  font-size: 0.75em;
  background: #383131;
  color: #FFFFFF;
  position: fixed;
  z-index: 9999;
  opacity: 0;
  top: -300px;
  left: -300px;
  transform: translateY(calc(-100% - 1rem));
  transition: opacity 0.2s, top 0.2s, left 0.2s;
}
#tool_tip.active {
  opacity: 1;
}

.studio {
  transition: padding 0.5s ease-in;
}
.studio .studio_body {
  transition: max-height 0.5s ease-in;
  max-height: 0px;
  overflow: hidden;
}
.studio .studio_body p {
  margin-top: 0.5rem;
}
.studio.open {
  padding-top: 1rem;
  max-height: 40rem;
}
.studio.open .triangle {
  transform: rotate(90deg);
}
.studio.open .studio_body {
  max-height: 50rem;
}
.studio .studio_header {
  cursor: pointer;
}
.studio h4, .studio h5, .studio h6 {
  text-align: left;
  padding: 0 0 0 1.5rem;
  margin: 0;
}
.studio h4 {
  text-indent: -0.75rem;
}
.studio h4 .triangle {
  display: inline-block;
  color: #c48726;
  width: 0.5rem;
  font-size: 1.25rem;
  transform-origin: -7px 15px;
  transition: transform 0.25s;
}
.studio h5 {
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
.studio h6 {
  font-size: 1rem;
  font-weight: normal;
}
.studio h6 label {
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #c48726;
  font-weight: bold;
  font-size: 0.75em;
}

#container {
  /* text-align:center; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0;
  margin: auto;
}

img {
  max-width: 100%;
  filter: brightness(150%) grayscale(100%);
  transition: filter 0.2s;
}
img#react-modal-image-img, img:hover {
  filter: brightness(100%) grayscale(0%);
}

.column {
  width: 25vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: contain;
}
.column .column_header {
  height: 10rem;
  padding: 0.5em;
}
header.mobile h1, header.mobile h2, header.mobile h4 {
  text-align: center;
  padding: 1rem 0 0 0;
  margin: 0;
}
header.mobile h4 {
  color: #c48726;
}

#footer {
  background: #383131;
  padding: 2rem;
}

@media (min-width: 800px) {
  header.mobile {
    display: none;
  }
}
@media (max-width: 800px) {
  #container {
    display: block;
  }
  .column {
    width: 100%;
    height: auto;
  }
  .column .column_header {
    display: none;
  }
}
html, body {
  margin: 0;
  padding: 0;
  color: #383131;
  background-color: #FFFFFF;
}

.interior {
  padding: 0 1em;
}

/*# sourceMappingURL=main.css.map */
